= render "shared/header"

.main
  .main__content
    .mypage
      .mypage__left
        = render "shared/mypage_menu"

      .mypage__right
        .mypage__right--title
          = @course.name
        .mypage__right--main
          .add-question
            .add-question__header
              .course-info
                .course-info__left
                  .course-info__left--inner
                    ▼紹介
                  .course-info__left--inner
                    - if @course.description.present?
                      = simple_format(@course.description)
                    - else
                      未記入
                .course-info__right
                  .course-info__right--inner
                    = link_to "編集", edit_course_path(@course.id), class: "blue-link"
                  .course-info__right--inner
                    = link_to "削除", course_path(@course.id), method: :delete, data: { confirm: "復元することはできません。本当に削除しますか？" }, class: "blue-link"

            .add-question__main
              .add-question__main--title
                4択の作成
              .add-question__main--body
                = render "shared/question_form"

            .question-list
              .question-list__header
                4択一覧
              .question-list__main
                - if @course.questions.present?
                  - @course.questions.order('updated_at DESC').each do |q|
                    .question-info
                      .question-info__left
                        .question-info__left--inner
                          = "問題文: #{q.sentence}"
                        .question-info__left--inner
                          = "答え: #{q.answer}"
                        .question-info__left--inner
                          = "誤答: #{q.wrong1},#{q.wrong2},#{q.wrong3}"
                      .question-info__right
                        .question-info__right--inner 
                          = link_to "編集", edit_course_question_path(course_id: @course.id, id: q.id), class: "blue-link"
                        .question-info__right--inner 
                          = link_to "削除", course_question_path(course_id: @course.id, id: q.id), method: :delete, data: { confirm: "復元することはできません。本当に削除しますか？" }, class: "blue-link"
                - else
                  .question-list__main--none
                    作った4択はここに表示されます。

  .main__sidebar

= render "shared/footer"