= render "shared/header"

.single-main
  .single-main__content
    .user
      .user__header
        ログイン
      .user__main
        .user-form
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|

            - if flash[:alert].present?
              .user-form__alert
                = "メールアドレスかパスワードが間違っています"

            .user-form__input
              .user-form__input--label
                = f.label :email, "メールアドレス"
              .user-form__input--form
                = f.email_field :email, autofocus: true, autocomplete: "email"

            .user-form__input
              .user-form__input--label
                = f.label :password, "パスワード"
              .user-form__input--form
                = f.password_field :password, autocomplete: "current-password"

            .user-form__input
              = f.submit "ログイン", class: "link-button main-color put-center"

            .user-form__link
              = link_to "新しいアカウントを作成", new_user_registration_path, class: "blue-link"

= render "shared/footer"