= render "shared/header"

.main
  .main__content
    .mypage
      .mypage__left
        = render "shared/mypage_menu"

      .mypage__right
        .mypage__right--title
          作成クイズ一覧
        .mypage__right--main
          .admin-list
            - if @courses.present?
              .admin-list__name.bold-font
                名前
              .admin-list__numOfQuestions.bold-font
                問題数
              .admin-list__private.bold-font
                公開状況
              .admin-list__edit.bold-font
            - else
              .admin-list__tutorial
                「クイズ作成」をクリックしてクイズを作ろう!
          - @courses.each do |course|
            .admin-list
              .admin-list__name
                = link_to course.name, course_path(course.id), target: ["_blank"], class: "blue-link"
              .admin-list__numOfQuestions
                = "全#{course.questions.length}問"
              .admin-list__private
                - if course.private
                  非公開
                - else 
                  公開中
              .admin-list__edit
                = link_to "詳細", new_course_question_path(course.id), class: "blue-link"

  .main__sidebar

= render "shared/footer"