.course-form
  = form_with model: @course, local: true do |f|

    .course-form__alert
      - if @course.errors.any?
        = "クイズの名前を入れてください"

    .course-form__input
      .course-form__input--label
        = f.label :name, "クイズの名前"
      .course-form__input--form
        = f.text_field :name
      
    .course-form__input
      .course-form__input--label
        = f.label :description, "クイズの紹介文"
      .course-form__input--form
        = f.text_area :description

    .course-form__input
      .course-form__input--form
        = f.check_box :private,{}, "true", "false"
        = f.label :private, "非公開にする"
        .course-form__alert
          ※非公開をONにすると、URLを知っている人のみクイズを解くことができます。

    .course-form__input
      = f.submit "次へ", class: "link-button main-color put-center"