.header
  .header__left
    = image_tag "logo.png", height: 50, class: "header__left--logo"
    .header__left--title
      = link_to "QuizJockey", root_path, class: "white-link"
    .header__left--search
      = form_with url: courses_searches_path, method: :get, local: true do |f|
        .search-form
          = f.submit "検索", class: "search-form__submit"
          = f.text_field :keyword, placeholder: "クイズ名で検索", class: "search-form__input"

  .header__right
    - if user_signed_in?
      .header__right--link
        = link_to "マイページ", users_path, class: "white-link"
      .header__right--link
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "white-link"
    - else
      .header__right--link
        = link_to "新規登録", new_user_registration_path, class: "white-link"
      .header__right--link
        = link_to "ログイン", new_user_session_path, class: "white-link"