.header
  .header__left
    .header__left--title
      = link_to "QuizJockey", root_path, class: "white-link"
  .header__right
    - if user_signed_in?
      .header__right--link
        = link_to "マイページ", user_path(current_user.id), class: "white-link"
      .header__right--link
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "white-link"
    - else
      .header__right--link
        = link_to "新規登録", new_user_registration_path, class: "white-link"
      .header__right--link
        = link_to "ログイン", new_user_session_path, class: "white-link"