.question-form
  = form_with model: [@course, @question], local: true do |f|

    .question-form__alert
      - if @question.errors.any?
        = "必要な情報が足りません"

    .question-form__input
      .question-form__input--label
        = f.label :sentence, "問題文"
      .question-form__input--form
        = f.text_area :sentence, placeholder: "必須"

    .question-form__input
      .question-form__input--label
        = f.label :answer, "答え"
      .question-form__input--form
        = f.text_field :answer, placeholder: "必須"

    .question-form__input
      .question-form__input--label
        = f.label :wrong1, "誤答(3つ)"
      .flex-start
        .question-form__input--form
          = f.text_field :wrong1, placeholder: "必須"
        .question-form__input--form
          = f.text_field :wrong2, placeholder: "必須"
        .question-form__input--form
          = f.text_field :wrong3, placeholder: "必須"

    .question-form__input
      .question-form__input--label
        = f.label :commentary, "問題の解説"
      .question-form__input--form
        = f.text_area :commentary

    .course-form__input
      = f.submit "決定", class: "link-button main-color put-center"