= render "shared/header"

.main
  .main__content
    .mypage
      .mypage__left
        .mypage__left--list
          ▼ メニュー
        = link_to user_path(current_user.id), class: "gray-link" do
          .mypage__left--list
            作成クイズ一覧
        = link_to new_course_path, class: "gray-link" do
          .mypage__left--list.current-list
            クイズ作成
        = link_to "#", class: "gray-link" do
          .mypage__left--list
            ユーザー情報編集

      .mypage__right
        .mypage__right--title
          クイズ編集
        .mypage__right--main
          = render "shared/course_form"

  .main__sidebar

= render "shared/footer"