= render "shared/header"

.main
  .main__content
    .courseList
      .courseList__header
        クイズ一覧
      .courseList__main
        - @courses.each do |course|
          = link_to course_path(course.id) do
            .course
              .course__left
                .course__left--upper
                  = "全#{course.questions.length}問"
                .course__left--lower
                  = "by @#{course.user.name}" #ユーザーネーム
              .course__right
                .course__right--name
                  = course.name #コース名
                .course__right--desc
                  = course.description #コース概要

  .main__sidebar

= render "shared/footer"